{% extends "layout.html" %}

{% block title %}
Bookstore - Home
{% endblock %}

{% block content %}
<section class="banner">
    <h2>Discover Your Next Adventure</h2>
</section>

<div class="subtitle">
    <h3>Top Books</h3>
</div>

<section class="book-section">
    {% for x in currentBooks %}
    <div class="book">
        <img src="{{ x.Cover }}" alt="{{ x.Title }}">
        <h3>{{ x.Title }} by {{ x.Author }}</h3>
        <p>{{ x.Description }}</p>
        <a href="book/{{ x.id }}">See details</a>
    </div>
    {% endfor %}
</section>
{% endblock %}
